@import "../../globalStyles.scss";
.mainLayoutContainer {
    position: relative;
    background-repeat: no-repeat;
    // background-size: cover;
    min-height: 100vh;
}

.mainContent {
    padding-bottom: 150px;
    margin: auto;
}