@import "../../globalStyles.scss";
$unifiedMaxWidth: 900px;
.mainLayoutContainer {
    position: relative;
    min-height: 100vh;
}

.headerContainer {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 10px;
    border-bottom: 4px solid $colorBlue;
    background-color: $colorWhiteExtra;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: $unifiedMaxWidth;
    margin: auto;
}

.logo {
    max-width: 160px;
}

.pageLink {
    font-size: $fontsizeSheep;
    margin-left: 20px;
    color: $colorGrayDark;
    font-weight: 700;
}

.mainContent {
    padding-bottom: 150px;
    margin: auto;
}

.footerContainer {
    border-top: 4px solid $colorGreenBright;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    max-width: $unifiedMaxWidth;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footerUtils {
    display: flex;
     :first-child {
        margin-right: 10px;
    }
}