@import "../../globalStyles.scss";
// @media (min-width: $screenWidthMobileBig) {
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    align-items: center;
    border: 3px solid $colorDarker;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: $colorWhiteExtra;
    @media (min-width: $screenWidthMobileBig) {
        flex-wrap: nowrap;
        width: 100%;
    }
    overflow: hidden;
}

.projectTypebanner {
    position: absolute;
    top: 17px;
    right: -29px;
    background-color: $colorVioletDark;
    color: $colorYellow;
    padding: 5px;
    transform: rotate(45deg);
    width: 120px;
    text-align: center;
    font-size: $fontsizeHuman;
    font-weight: bold;
    z-index: 2;
}

.inDevelopmentBanner {
    position: absolute;
    color: $colorDarkest;
    top: 0;
    left: 0;
    font-size: $fontsizeHuman;
    font-weight: bold;
    background-color: $colorYellow;
    width: 100%;
    padding: 3px;
    text-align: center;
    border-bottom: 3px solid $colorDarker;
}

.image {
    width: 100%;
    @media (min-width: $screenWidthMobileBig) {
        max-width: 300px;
        margin-right: 40px;
    }
}

.projectDataContainer {
    padding: 10px;
    @media (min-width: $screenWidthMobileBig) {
        padding: 0;
    }
}

.name {
    font-size: $fontsizeCow;
    font-weight: bold;
}

.description {
    margin-top: 10px;
    flex: 1;
}

.tagsContainer {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: $colorViolet;
    color: $colorWhite;
    border-radius: 15px;
    padding: 2px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.buttonsContainer {
    display: flex;
}

.button {
    padding: 4px 20px;
    display: flex;
    align-items: center;
    >img {
        margin-right: 5px;
    }
    border: 3px solid;
    border-radius: 3px;
}

.sourceCodeLinkButton {
    border-color: $colorBlue;
    margin-right: 20px;
}

.projectLinkButton {
    border-color: $colorGreen;
}