@import "../../globalStyles.scss";
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid $colorDarker;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: $colorWhite;
}

.image {
    max-width: 300px;
    margin-right: 40px;
}

.name {
    font-size: $fontsizeCow;
}

.description {
    margin-top: 10px;
    font-size: $fontsizeHuman;
    flex: 1;
}

.tagsContainer {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: $colorViolet;
    color: $colorWhite;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.buttonsContainer {
    display: flex;
}

.button {
    padding: 2px 8px;
    display: flex;
    align-items: center;
    >img {
        margin-right: 5px;
    }
    border: 3px solid;
    border-radius: 3px;
}

.sourceCodeLinkButton {
    border-color: $colorBlue;
    margin-right: 20px;
}

.projectLinkButton {
    border-color: $colorGreen;
}