@import "../../globalStyles.scss";
.pageHeadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

.pageTitleContainer {
    border: 5px solid $colorYellow;
    max-width: 450px;
    padding: 0 20px 20px 20px;
}

.pageTitle {
    display: inline-block;
    border-bottom: 4px solid $colorYellow;
}

.pageExplanation {
    font-size: $fontsizeSheep;
    width: 500px;
    background-color: $colorWhiteExtra;
}

//======================================================
.postsContainer {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    >div {
        margin-top: 40px;
    }
}