@import "../../globalStyles.scss";
.pageHeadingContainer {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    h1 {
        font-size: $fontsizeCow;
    }
    h2 {
        font-size: $fontsizeSheep;
    }
    @media (min-width: $screenWidthMobileBig) {
        margin-top: 60px;
        text-align: left;
        width: 100%;
        margin-top: 40px;
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 25px;
        }
    }
}

.pageTitleContainer {
    display: flex;
    align-items: center;
    >img {
        max-width: 50px;
        margin-right: 10px;
    }
    h1 {
        font-weight: bold;
    }
}

.pageExplanation {
    text-align: center;
    border: 3px solid $colorDarker;
    padding: 5px;
    background-color: $colorGreenBright;
    @media (min-width: $screenWidthMobileBig) {
        text-align: left;
    }
}

//======================================================
.postsContainer {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >div {
        margin-top: 30px;
    }
    width: 95%;
    @media (min-width: $screenWidthMobileBig) {
        width: 100%;
        margin-top: 40px;
    }
}

.myMasonryGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.myMasonryGridColumn {
    background-clip: padding-box;
    max-width: 375px;
}

.singlePostCellContainer {
    display: inline-block;
    margin: auto;
    margin-bottom: 50px;
    @media (min-width: $screenWidthMobileBig) {
        margin-bottom: 100px;
    }
}