@import "../../globalStyles.scss";
.pageHeadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

.pageTitleContainer {
    border: 3px solid $colorDarker;
    background-color: $colorWhite;
    max-width: 450px;
    padding: 0 20px 20px 20px;
}

.pageTitle {
    display: inline-block;
    border-bottom: 4px solid $colorGreenBright;
}

.pageExplanation {
    margin: 0;
    font-size: $fontsizeSheep;
    font-weight: inherit;
    width: 500px;
    background-color: $colorWhite;
}

.projectsImage {
    filter: drop-shadow(0 0 0.6rem $colorGray);
    -webkit-filter: drop-shadow(0 0 0.6rem $colorGray);
}

//======================================================
.projectsContainer {
    margin-top: 40px;
    >div {
        margin-top: 40px;
    }
}