@import "../../globalStyles.scss";
.headerContainer {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $colorWhiteExtra;
    border-bottom: 3px solid $colorDarker;
    @media (min-width: $screenWidthMobileBig) {
        padding-top: 10px;
        background: none;
        border: none;
    }
}

.header {
    position: relative;
    width: 95%;
    margin: auto;
    background-color: $colorWhiteExtra;
    padding: 5px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $screenWidthMobileBig) {
        flex-direction: column;
        max-width: $unifiedPageMaxWidth;
        margin: auto;
        align-items: center;
        border: 3px solid;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        border-radius: 30px;
        background-color: rgba($colorWhiteExtra, 0.9);
    }
}

.logo {
    max-width: 180px;
    image-rendering: -webkit-optimize-contrast;
}

.linksContainer {
    display: none;
    @media (min-width: $screenWidthMobileBig) {
        display: block;
        text-align: center;
        margin: 0;
        width: auto;
        text-align: right;
    }
}

.pageLink {
    font-size: $fontsizeSheep;
    margin-left: 6px;
    padding: 1px 5px;
    border-radius: 30px;
    @media (min-width: $screenWidthMobileBig) {
        margin-left: 20px;
        padding: 2px 15px;
        font-weight: 700;
    }
}

.isCurrentPageLink {
    background-color: $colorDarker;
    color: $colorWhite;
    &:hover {
        color: $colorWhite;
    }
}

//=====================================
.mobileNavBar {
    display: flex;
    position: absolute;
    top: 50px;
    padding: 6px 5px 6px 5px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid $colorDarker;
    border-radius: 30px;
    font-size: $fontsizeSheep;
    background: $colorSuspense;
    width: 100%;
    @media (min-width: $screenWidthMobileBig) {
        display: none;
    }
}

.pageLinkMobile {
    font-size: $fontsizeSheep;
    padding: 2px 5px;
    border-radius: 13px;
    @media (min-width: $screenWidthMobileBig) {
        display: none;
    }
}

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.label {
    display: flex;
    flex-direction: column;
    width: 35px;
    cursor: pointer;
    @media (min-width: $screenWidthMobileBig) {
        display: none;
    }
}

.label span {
    background: $colorDarker;
    border-radius: 10px;
    height: 3.5px;
    margin: 3.5px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.checkChild1 {
    width: 50%;
}

.checkChild2 {
    width: 100%;
}

.checkChild3 {
    width: 75%;
}

.burgerIconCheckbox {
    display: none;
}

.burgerIconCheckbox:checked~.checkChild1 {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(4px, 0px)
}

.burgerIconCheckbox:checked~.checkChild2 {
    transform-origin: top;
    transform: rotatez(-45deg)
}

.burgerIconCheckbox:checked~.checkChild3 {
    transform-origin: bottom;
    width: 50%;
    transform: translate(15px, -5.5px) rotatez(45deg);
}