@import "../../globalStyles.scss";
.pageTitle {
    text-decoration: $mainTextDecoration;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contentText {
    flex: 2;
}

.imageContainer {
    flex: 1;
    display: inline-block;
    max-width: 250px;
}

.image {
    max-width: 250px;
}

.section {
    margin-bottom: 20px;
}

.sectionHeading {
    font-weight: bold;
}

.sectionTitle {
    display: inline-block;
    border-bottom: 4px solid $colorGreenBright;
    font-size: $fontsizeSheep;
    font-weight: bold;
}

.sectionExplanation {
    margin-top: 10px;
}