@import "../../globalStyles.scss";
.pageHeading {
    position: relative;
    background-color: #3F3D56;
    height: 100vh;
    background: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.pageSloganContainer {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.pageSlogan {
    text-decoration: solid underline 5px $colorYellow;
}

.wavyPageHeadingBackground {
    background: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.contactWidgetsContainer {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 20;
    div:nth-child(1) {
        background-color: $colorDarker;
    }
    div:nth-child(2) {
        background-color: #55ACEE;
    }
    div:nth-child(3) {
        background-color: #007AB9;
    }
    div:nth-child(4) {
        background-color: $colorDarker;
    }
}

.contactWidget {
    position: relative;
    // height: 50px;
    width: 40px;
    // background-color: $colorDarker;
    height: 40px;
    margin-top: 20px;
    border-radius: 0 50% 50% 0;
}

.contatWidgetIcon {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.sectionTitleContainer {
    text-align: center;
    margin: auto
}

.sectionTitle {
    text-decoration: solid underline 5px $colorGreenBright;
}

.sectionExplanation {
    font-size: 18px;
}