@import "../../globalStyles.scss";
.pageHeading {
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.pageSloganContainer {
    // border: 4px solid $colorOrange;
    max-width: 450px;
    padding: 0 20px 20px 20px;
}

.pageSlogan {
    width: 500px;
    background-color: $colorWhiteExtra;
}

.pageExpanation {
    font-size: $fontsizeSheep;
}

.contactWidgetContainer {
    display: inline-block;
    padding: 5px 10px 5px 5px;
    border-radius: 20px;
    margin-top: 10px;
}

.contactWidget {
    display: flex;
    align-items: center;
}

.githubButton {
    background-color: $colorDarker
}

.twitterButton {
    background-color: #55ACEE;
}

.linkedinButton {
    background-color: #007AB9;
}

.widgetText {
    color: $colorWhiteExtra;
    font-size: $fontsizeSheep;
}

.contatWidgetIcon {
    margin-right: 10px;
}

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.sectionPost {
    margin: auto;
    margin-top: 80px
}

.sectionPostSloganContainer {
    border: 4px solid $colorYellow;
    max-width: 450px;
    padding: 0 20px 20px 20px;
}

.sectionPostSlogan {
    width: 500px;
    background-color: $colorWhiteExtra;
}

.postsButtonContainer {
    width: 100%;
    text-align: center;
}

.sectionPostTitle {
    text-decoration: $secondaryTextDecoration;
    text-align: center;
}

.sectionPostData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px
}

.postsButton {
    background-color: $colorBlue;
    color: $colorWhite;
    padding: 2px 40px;
    border-radius: 3px;
    font-size: $fontsizeSheep;
    box-shadow: rgba($colorBlue, 0.50)0px 5px 15px;
    border: 2px solid $colorBlue;
    transition: 200ms;
    &:hover {
        color: $colorBlue;
        background-color: $colorWhite;
        transition: 200ms;
    }
}

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.projectSection {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    min-height: 400px;
    background: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}

.projectSectionTitle {
    color: $colorDarker;
    display: inline-block;
    border-bottom: 4px solid $colorGreenBright;
}

.tagsContainer {
    max-width: 800px;
    margin-bottom: 20px;
}

.singleTag {
    display: inline-block;
    background-color: rgba($colorGray, 0.2);
    padding: 4px;
    color: $colorBlue;
    border-radius: 5px;
    margin: 5px 5px;
    font-size: $fontsizeSheep;
}

.projectSectionDataContainer {
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-size: $fontsizeSheep;
}

.projectsButton {
    background-color: transparent;
    color: $colorDarker;
    padding: 2px 40px;
    border-radius: 4px;
    font-size: $fontsizeSheep;
    box-shadow: rgba($colorGreenBright, 0.60)0px 0px 20px;
    border: 2px solid $colorGreenBright;
    transition: 200ms;
    &:hover {
        color: $colorDarkest;
        background-color: $colorGreenBright;
        transition: 200ms;
    }
}