$colorDanger: #d35757;
$colorDarkest: #23272a;
$colorDarker: #2c2f33;
$colorViolet :#7289da;
$colorGray: #99aab5;
$colorGrayDark :#707070;
$colorWhiteExtra: #ffffff;
$colorWhite: #F9F9F9;
$colorGreen: #58E1A5;
$colorGreenBright: #72FDB8;
$colorYellow: #FFC356;
$colorBlue: #0067FF;
//======================================
$fontsizeHuman: 13.5px;
$fontsizeElephant: 27px;
$fontsizeCow: 22.5px;
$fontsizeSheep: 18px;