$colorDanger: #d35757;
$colorOrange: #FF886F;
$colorDarkest: #23272a;
$colorDarker: #2c2f33;
$colorViolet :#7289da;
$colorGray: #99aab5;
$colorGrayDark :#707070;
$colorWhiteExtra: #ffffff;
$colorWhite: #F9F9F9;
$colorGreen: #58E1A5;
$colorGreenBright: #72FDB8;
$colorYellow: #FFC356;
$colorBlue: #0067FF;
$colorVioletDark: #6D37DA;
$colorSuspense: #e4e4e4;
$colorSuspenseDark: #b8b8b8;
//======================================
$fontsizeHuman: 13.5px;
$fontsizeElephant: 27px;
// $fontsizeCow: 22.5px;
$fontsizeCow: 25px;
$fontsizeSheep: 18px;
//======================================
$mainTextDecoration: solid underline 5px $colorYellow;
$secondaryTextDecoration: solid underline 5px $colorGreenBright;
$unifiedPageMaxWidth: 900px;
//======================================
$screenWidthMobileBig: 576px;
$screenWidthMobileLandScape: 690px;
//======================================
@mixin suspenseLoadingEffect {
    @keyframes suspenseLoading {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@mixin suspenseStyles {
    @include suspenseLoadingEffect;
    background: linear-gradient(90deg, $colorSuspense, $colorSuspenseDark);
    background-size: 200% 200%;
    animation: suspenseLoading 1s infinite;
}

//======================================