* :not(h1, h2, h3, h4, h5, h6) {
    font-size: 15px;
}

* {
    box-sizing: border-box;
    font-weight: inherit;
}

* ::not(code) {
    color: #2c2f33;
}

*::selection {
    color: #0067ff;
    background-color: #ffc356;
}

pre {
    max-width: 900px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    /* font-size: 27px; */
    font-size: 30px;
    color: #2c2f33;
}

h2 {
    font-size: 25px;
    color: #2c2f33;
}

button {
    border-radius: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    font-family: inherit;
}

a {
    text-decoration: none;
}

input {
    border-radius: 0;
    border: none;
    cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ode {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}